<div id="nav-bar">
  <div class="home">
    <a href="/">🏠 Home</a>
  </div>

  <div id="nav-right">
    {{#if userInSession}}
      <div class="LoggedIn">
        <button><a href="/user-profile">Profile</a></button>
        <form id="logout-form" action="/logout" method="POST">
          <button>Logout</button>
        </form>
      </div>

      <h2>Welcome, {{userInSession.email}}!</h2>

    {{else}}
      <div class="LoggedOut">
        <button><a href="/signup">Register</a></button>
        <button><a href="/login">Login</a></button>
      </div>
    {{/if}}
  </div>

</div>
<br /><br />
<hr />